<section>
    <div class="container">
        {{#if admin}}
        <div class="mt-4 mb-3">
            <a href="admin/add-product" class="btn btn-success">Add Product</a>
        </div>
        {{/if}}
        <table class="table mt-5" id="productTable">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    {{!-- {{#if admin}}
                    <th scope="col">Options</th>
                    {{/if}} --}}
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td>Rs. {{this.Price}}</td>
                    <td>{{this.Description}}</td>
                    <td><img src="/images/product-images/{{this._id}}.jpg" style="width:50px;height:50px;" alt=""></td>
                    {{!-- {{#if admin}}
                    <td>
                        <a href="/admin/edit-product" class="btn btn-primary">Edit</a>
                        <a href="/admin/delete-product" class="btn btn-danger">Delete</a>
                    </td>
                    {{/if}} --}}
                </tr>
                {{/each}}
            </tbody> 
        </table>
    </div>
</section>