<section>
        <div class="container">
            <div class="row">
                {{#each products}}

                <div class="col-md-3 mt-4">
                    <div class="card" style="width: 18rem; height:24rem">
                        <img src="/images/product-images/{{this._id}}.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <h6>Rs. {{this.Price}}</h6>
                            <p class="card-text">{{this.Description}}</p>
                            <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                    </div>
                </div>
                
                {{/each}}
            </div>
        </div>
</section>